body{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-image: url('fondo.webp'); */
    /* background-attachment: fixed;
    background-size: cover; */
    background: linear-gradient(-135deg, #fff 1%, #9fbedd 50%);    
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    min-height: 100vh;

}
.global-container{
    /* background: rgba(255, 255, 255, 0.8); */
    width: 80vw;
    min-height: 40vh;
    place-items: center;
    margin-top: 30px;
}
.global-container h1{
    text-align: center;
}
form{
    width: 300px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #cfdfed;
    box-shadow: 0px 0px 10px #9fbedd;
    border: 2px solid #e7f0f7;
    border-radius: 10px;
}
form label{
    font-size: 20px;
}
#form-input-number{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
#form-input-submit{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #6aaeaf;
    color: #fff;
    cursor: pointer;
}
.result-container{
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    /* background-color: rgba(255,255,255, 0.2); */
    background: #cfdfed;
    border: 2px solid #e7f0f7;
    box-shadow: 0px 0px 10px #9fbedd;
}